{% load static %} 
<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                <title>Your Matches</title>
		<link rel="icon" type="image/x-icon" href="{% static 'user/assets/img/portfolio/uvalogo.jpg' %}" />
                                <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'>
                                <link href='' rel='stylesheet'>
                                <style></style>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js'></script>
                                <script type='text/javascript'></script>
                            </head>
                            <body oncontextmenu='return false' class='snippet-body'>
                            <div class="min-h-screen bg-yellow-500 py-5 bg-opacity-100">
{% if matches %}
    <div class='overflow-x-auto w-full'>
        <table class='mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden'>
            <thead class="bg-blue-700">
                <tr class="text-white text-left">
                    <th class="font-semibold text-sm uppercase px-6 py-4"> Name </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Age </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Location Preferences </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4 text-center">Message</th>
                </tr>
            </thead>

           
           	{% for match in matches %}
            <tbody class="divide-y divide-gray-200">
                <tr>
                    <td class="px-6 py-5">
                        <div class="flex items-center space-x-3">
                            {% if match.profile_image %}
                            <div class="inline-flex w-14 h-14"> <img class='w-14 h-14 object-cover rounded-full' alt='User avatar' src = "{{ match.profile_image.url }}" /> </div>

				            {% else %}
				            <div class="inline-flex w-14 h-14"> <img class='w-14 h-14 object-cover rounded-full' alt='User avatar' src="{% static 'user/assets/img/portfolio/profilesample.jpg' %}" /> </div>
				            {% endif %}
                            
                            <div>
                                <a style="text-transform:capitalize;" href= "{% url 'user:details' match.id %}"> {{match.name_text}} </a>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 text-center"> {{ match.age }} </td>
                    </td>
                    <td class="px-6 py-4 text-center" style="white-space:pre-wrap;"> {{ match.location }}</td>
                    <td class="px-6 py-4 text-center"> <a href="{% url 'user:chat' match.username %}" span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> Message Now </span> </td>
                </tr>
                <tr>
            </tbody>
	{% endfor %}
		
            {% else %}
		<td class="px-6 py-4 text-left"> You have not matched with anyone!</td>



            {% endif %}
		<td class="px-6 py-4 text-left"> <a href= "{%url 'user:main' %}" style="color:gray"> <i class="fa fa-home"></i> Home</a></td>
		<td class="px-6 py-4 text-center"> </td>
		<td class="px-6 py-4 text-center"> </td>
		<td class="px-6 py-4 text-center"> </td>




        </table>
    </div>
</div>
                            </body>
                        </html>


 <!--***************************************************************************************
*  REFERENCES

*  Title: Tailwind css responsive table
*  Author: BBBootstrap Team
*  Date: 4/18/2021
*  URL: https://bbbootstrap.com/snippets/tailwind-css-responsive-table-45362330
*  Software License: MIT license 
***************************************************************************************-->